<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
    </label><br> 
    <label>Airport
        <select name="airport">
            <option value="DEN" selected>DEN</option>
            <option value="AUS">AUS</option>
            <option value="SFO">SFO</option>
            <option value="LAX">LAX</option>
        </select>
    </label><br> 
    <label>Flight No:
        <input type="number" name="flightNo">
    </label><br>
    <label>Departure:
        <input type="datetime-local" name="departs" value="<%= departsDate %>">
    </label>
    <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>